$black: var(--black);
$medium: var(--medium);
$white: var(--white);
$blue-dark: var(--blue-dark);
$blue: var(--blue);
$blue-05: var(--blue-05);
$blue-light: var(--blue-light);
$blue-super-light: var(--blue-super-light);
$green: var(--green);
$red: var(--red);
$orange: var(--orange);